body{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    background-color: lightsteelblue;
    color: black;
    margin: auto;
    max-width: 90%;
    border: 3px solid orange;
    padding: 20px;
}

h1, h2, h3{
    text-align: center;
}

#head1{
    font-weight: bold;
    border: 10px solid;
    border-color: magenta;
    border-radius: 10px;
    max-width: 20%;
    margin: auto;
}

.extreme{
    font-weight: italic;
    font-family: "Times New Roman", times, serif;
}

.navzone{
    font-size: 12px;
    border: 2px double red;
    margin: 10px;
}


h3{
    font-weight: italic;
}

ul{
    margin: auto;
    display: table;
    padding: 10px;
}

li{
    display: table-cell;
    font-size: 8px;
}

#tehlulz:hover{
    background-color: red;
}

a{
    text-decoration: none;
    font-size: 24px;
    color: green;
    padding: 10px;
}

p{
    max-width: 50%;
    margin: auto;
    color: yellow;
    font-family: monaco;
}

.content{
    border: 10px double red;
}

.prose{
    text-align: justify;
}